.form-inline{
    display: flex;
}
.hs{
    color: rgb(56, 182, 255);
}
.servic{
    margin-top: 3%;
}
.col-md-3{
    height: 2em;
    color: white;
    background-color:rgb(56, 182, 255) ;
}
#carouselExampleControls{
    margin-top: 2%;
}
.d-block{
    height: 20em;
}
.rs{
    margin-top: 2%;
    border: solid  rgb(56, 182, 255) ;
}
.ab{
    margin-top: 10%;
}
.servi {
    background-color: rgb(56, 182, 255);
    color: white;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    border-radius: 20px;
}
.sap{
    border: solid  rgb(56, 182, 255)  ;
    color:  rgb(56, 182, 255);
}
.sop{
    border: solid rgb(56, 182, 255);
}
.sip{
    border-radius: 20px;
    justify-content: center;
    margin: 0 35%;
    width: 30%;
    background-color: rgb(56, 182, 255);
}
.sipp{
    text-decoration: none;
    color: white;
}
.img-fluid{
    width: 50%;
    height: 40%;
    border-radius: 20px;
}
.sipo{
    border-radius: 20px;
    justify-content: center;
    margin: 0 35%;
    width: 30%;
    background-color: red;
}
.sippo{
    text-decoration: none;
    color: white;
}
.co{
    margin-top: 10em;
    background-color:rgb(56, 182, 255);
}
footer{
    margin-top: auto;
}
.tratamiento{
    text-align: center;
    margin-left: 0px;
    color: white;
    margin: 0;
    bottom: 0;
}
.text_tratamiento{
    text-align: justify;
    color: white;
    margin-left: 5px;
    margin-right: 5px;

}
#carouselExampleControls{
    border: rgb(56, 182, 255) solid;
}