*{
    @import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
    font-family: "Tomorrow", sans-serif;
}
.titulo{
    overflow: hidden;
    margin-top: 0;
}
#titulo_log{
    float: left;
    text-decoration: none;
    color:rgb(56, 182, 255);
    font-size: 20px;
    margin-top: 0;
}
#log_log{
    margin-top: 10px;
     float: right;
}
#text_subititle{
    text-align: center;
    align-items: center;
    color: rgb(56, 182, 255);
}
#formulario{
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    border: solid;
    margin-left: 50ex;
    margin-right: 50ex;
    border-radius: 8%;
    border-color:  rgb(56, 182, 255);
}
#formularios{
    margin-top: 15px;
    vertical-align: middle;

}
#formularios img{
    height: 20px;
    margin-left: 10px;
    background-color:rgb(225, 224, 222);
}
#formularios input{
    margin-top: 10px;
    background-color:rgb(225, 224, 222);
    height: 30px;
    width: 250px;
    border-radius: 40px;
    border: none;
}
#remember{
    overflow: hidden;
}
.a{
    float: left;
    margin-left: 60px;
    text-decoration: none;
    font-size: 10px;
    color: rgb(56, 182, 255);
    

}
.b{
    float: right;
    margin-right: 50px;
    text-decoration: none;
    font-size: 10px;
    color: rgb(56, 182, 255);
}
.buttom {
    background-color: rgb(56, 182, 255);
    border: none;
    color: white;
    height: 30px;
    border-radius: 40px;
    width: 250px;
    margin-top: 20px;
}
.registro{
    font-size: 10px;
}
.registro_py{
    text-decoration: none;
    color:  rgb(56, 182, 255);
}
.co{
    margin-top: 100px;
    background-color:rgb(56, 182, 255);
}
.tratamiento{
    text-align: center;
    margin-left: 0px;
    color: white;
}
.text_tratamiento{
    text-align: justify;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}